img[src="images/brank.png"] {
    max-height: 100px;
    width: auto;
}
img[src="images/balaclava-blk.png"] {
    max-height: 100px;
    width: auto;
}
img [src="images/bondy.png"] {
    max-height: 100px;
    width: auto;
}
img [src="images/church.png"] {
    max-height: 100px;
    width: auto;
}