body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif ;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb
}
p,
ul {
    padding: 0;
    margin: 0;
}

.head,
.body-one,
.body-two,
.body-three,
.footer {
    flex: 1;
}

.head {
    background-color: #1f2937;
    padding: 32px 64px;
    padding-top: 0;
}
.header,
.hero {
    background-color: #1f2937;
    color: white;
    display: flex;
}
.header {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}
.header > p {
    padding: 16px;
    font-size: 18px;
    color: #F9FAF8;
}
.header-links{
    display: flex;
    padding: 16px;
    margin: 0;
    gap: 16px;
}
.hero {
    justify-content: space-between;
}
.hero .hero-left{
    flex: .9 1 0;
}
.hero-left button {
    flex: 0 1 0;
}
.hero-left {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.hero-left > .text {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin-bottom: 0;
}
.hero-left > .subtext {
    font-size: 18px;
    color: #e5e7eb;
}
img[src="images/what.png"]{
    height: auto;
    width: 300px;
    flex-shrink: 0;
    border: none;
}

img {
    width: 100px;
    height: 100px;
    border: solid;
    border-color: blue;
    border-radius: 12px;
}
.body-one {
    text-align: center;
    padding: 32px;
}
.body-one > .text {
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 32px;
}
.body-one .container {
    display: flex;
    justify-content: center;
    gap: 22px;
}
.drawings {
   max-width: 200px;
}
.body-two{
    display: flex;
    flex-direction: column;
    padding: 52px;
    background-color: #e5e7eb;
}
.body-two > .text {
    font-size: 36px;
    font-weight: 20;
    text-align: center;
    font-style: italic;
}
.quotecred {
    margin-right: 128px;
    display: flex;
    justify-content: end;
}

.body-three {
    padding: 56px;
}
.body-three .container {
    background-color: #3882f6;
    padding: 32px;
    margin: 0px 64px;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.body-three .container .signup > .text {
    padding-bottom: 4px;
    font-size: 24px;
}
.body-three .container .signup {
    color: white;
}
button {
    text-decoration: none;
    border: none;
    padding: 8px 24px;
    border-radius: 12px;
    color: white;
    background-color: #3882f6;
}
.body-three button {
    border: solid;
    border-color: white;
}
.footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    padding: 48px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.fa-instagram {
    padding: 10px;
    font-size: 30px;
   
    text-align: center;
    text-decoration: none;
    background: #C13584;
}
.fa:hover {
    opacity: .7;
}